@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Nosifer&display=swap');

*{
  margin: 0;
  padding: 0;
}

main{
  background-color: #000;
  font-family: 'Manrope', sans-serif;
  min-width: 300px
}

h1{
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 41.17px;
    color: #D9298A;
    text-align: center;
    padding: 20px;
}

#title{
  color: #FFFFFF;
}

#memorias{
  padding: 35px;
  margin: 20px;
}

p{
  color: #FFFFFF;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  font-style: bolder;
  margin-left:35px;
  margin-right:35px;
}

img{
  width: 760px;
  height: 670px;
  margin: auto;
  display: block;
}